.template-plain h3 {
    font-size: 45px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    padding-right: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
}

.template-plain li::before {
  width: 1em;
  margin-left: -1em;
  position: absolute;
}
